body{
    text-align: center;
    font-family: Arial;
<<<<<<< HEAD
    color: rgb(183, 255, 0);
    background-color: rgb(23, 22, 22);
=======
    color: rgb(125, 125, 244);
    background-color: rgb(60, 61, 51);
>>>>>>> cabecera
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #61df48;
    margin: 0 auto;

}

#container h1 {
    font-size: 20px;
}